.detail-container {
  margin: 20px auto;
  width: 900px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(114, 13, 13, 0.8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  align-items: center;
}

.detail-content {
  display: flex;
  margin: 20px auto;
  gap: 60px;
  align-items: center;
}
.detail-img-container {
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 310px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.detail-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-info-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.detail-container span {
  color: black;
  font-size: 1.2rem;
}

.detail-container p {
  font-size: 1.1rem;
  color: white;
}
