.cards-container {
  margin-top: 20px;
}

.cards-content {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
}
